/* Colores */
$background_navbar:#231717;
$color_cirulos:#D1B172;
$background_amarillo:#E3DAA9;
$background_gris:#F0F0F0;
$background_cafe_about:#392C2C;
$color_damasco:#C55531;
$color_durazno:#D5734D; 
$blanco:#FFFFFF;

/* Pixeles */
$cero:0;
$uno: 1px;
$cinco:5px;
$diez:10px;
$doce:12px;
$trece: 13px;
$catorce:14px;
$quince:15px;
$veinte:20px;
$treinta:30px;
$cuarenta:40px;
$cincuenta:50px;
$sesenta:60px;
$setenta:70px;
$ochenta:80px;
$noventa:90px;
$cien:100px;
$docientos:200px;
$trecientos:300px;
$cuatrocientos:400px;

/* Peso Tipografías */
$doscientos-w: 200;
$cuatrocientos-w: 400;
$seiscientos-w: 600;

/*Porcentajes*/
$radius: 50%;
$ochenta-ciento:80%;
$cien-ciento:100%;
$docientos-ciento:200%;

$text_center:center;